<button type="button" class="btn btn-primary"
        data-request="<?= $this->getEventHandler('onClear') ?>"><span class="fa icon-trash"></span>
    <?= e(trans('xeor.minify::lang.settings.clear_cache')) ?>
</button>